:root {
    --earie_black: #191b1d;
    --peach_yellow: #dec991;
    --brown: #a33800;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

#wallpaper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 110vh;
    background-image: url('./pics/bg/top.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: -10;

    .bottom {
        height: fit-content;
        width: 100vw;
    }
}

#feed {
    height: fit-content;
    max-height: 110vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 5em 1em;
    gap: 3em;
}

.card {
    width: auto;
    height: fit-content;
    box-sizing: border-box;
    background-color: var(--earie_black);
    opacity: 95%;
    border-width: 8px;
    border-color: var(--brown);
    border-style: solid;
    border-radius: 12px;
    padding-left: 3em;

    h2 {
        color: var(--brown);
        font-size: 38px;
        font-weight: bold;
    }

    h3 {
        color: var(--peach_yellow);
        font-size: 36px;
    }

}